@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/Poppins-BlackItalic.ttf');
}

:root {
  --background: beige;
  --foreground: #171717;
  --item-size: 50px;

  @media (prefers-color-scheme: dark) {
    --background: #171717;
    --foreground: floralwhite;
  }

}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board {
  display: flex;
  align-items: end;
  gap: 20px;
  position: relative;
}

.tray {
  width: 100px;
  height: 300px;
  flex-shrink: 0;
  position: relative;
}

.display-inner {
  position: relative;
}

.item {
  width: var(--item-size);
  height: var(--item-size);
  background-color: white;
  border: solid 2px var(--foreground);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  &[data-dropped="true"] {
    transition: all .25s;
  }
}

.game-over {
  background-color: rgba(255, 250, 240, 0.75);
  backdrop-filter: blur(5px);
  position: absolute;
  inset: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &[data-active="false"] {
    display: none;
  }

  .stats {
    text-align: center;
    line-height: 1.2;
  }

  .continue {
    padding-top: 20px;
    font-size: 17px;
  }

}

h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 26px;
}

.scales {
  background-color: magenta;
  border-radius: 30px;
  padding: 10px;
  .display {
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 10px 0 10px;
    color: white;
    .sign {
      font-size: 25px;
      position: absolute;
      left: -40px;
      top: 35px;
    }
    .unit {
      font-size: 50%;
      position: absolute;
      right: -55px;
      top: 30px;
    }
  }
  .platform {
    width: 300px;
    height: 300px;
    background-color: cyan;
    border-radius: 20px;
  }
}
