* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

#app {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100dvh;
}

.holder {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  padding-bottom: 200px;
}

.display {
  font-size: 50px;
  text-align: center;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 250px;
}

input[type="range"] {
  width: 100%;
  appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background: white;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: black;
  border-radius: 4px;
}
