@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/Poppins-BlackItalic.ttf');
}

:root {
  --background: floralwhite;
  --foreground: #171717;
  --switch-size: 70px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: floralwhite;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Poppins';
  background-color: var(--background);
  color: var(--foreground);
  font-weight: 500;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100dvh;
}

.holder {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 50px;
  justify-content: center;
}

.display {
  font-size: 80px;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  .sign {
    font-size: 30px;
    position: absolute;
    left: -40px;
    top: 30px;
  }
}

.display-inner {
  position: relative;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 250px;
  position: relative;
}

input[type="checkbox"] {
  width: var(--switch-size);
  height: var(--switch-size);
  appearance: none;
  background-color: white;
  border: solid 4px var(--foreground);
  border-radius: 5px;
  cursor: pointer;
  &:checked {
    background-color: rgb(245, 0, 0);
  }
}

.game-over {
  background-color: rgba(255, 250, 240, 0.75);
  backdrop-filter: blur(5px);
  position: absolute;
  inset: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
  &[data-active="false"] {
    display: none;
  }

  .stats {
    text-align: center;
    line-height: 1.2;
  }

  .continue {
    padding-top: 20px;
    font-size: 17px;
  }

}

.teller {
  text-align: center;
  &[data-active="false"] {
    opacity: 0;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 26px;
}
