@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/Poppins-ExtraBold.ttf');
}

:root {
  --background: floralwhite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Poppins';
  background-color: var(--background);
  font-weight: 500;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100dvh;
}

.holder {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  padding-bottom: 50px;
}

.display {
  font-size: 80px;
  text-align: center;
  font-weight: 700;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 250px;
  position: relative;
}

input[type="range"] {
  width: 100%;
  appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background: white;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: black;
  border-radius: 4px;
}

.game-over {
  background-color: rgba(255, 250, 240, 0.75);
  backdrop-filter: blur(5px);
  position: absolute;
  inset: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &[data-active="false"] {
    display: none;
  }
}

h2 {
  text-transform: uppercase;
}
